/* RESET */

* {margin:0;padding:0;vertical-align:top;box-sizing:border-box;outline:0;}
table {border-collapse:collapse;}

/* BASE */

body {background:#fafafa;padding-top:50px;overflow-y:scroll;}
@media (max-width:760px) {body {padding-top:40px;}}

span, a, .a {display:inline-block;vertical-align:top;}

.fixed {position:fixed;}

.wrapper        {max-width:1000px;margin:0 auto;padding:0 10px;}
.wrapper.big    {max-width:765px;padding:0;}
.wrapper.medium {max-width:600px;padding:0;}
.wrapper.small  {max-width:420px;padding:0;}

.item {padding:15px;background:#fff;border:1px solid #eee;border-radius:2px;width:100%;}

/* MISC */

.remember-password-link {font-size:13px;margin:15px 0 0;line-height:15px;color:#777;text-decoration:underline;}
.remember-password-link:hover {text-decoration:none;}

.auth-link {margin:10px 0 10px 20px;line-height:20px;}

.checkbox-label {line-height:13px;font-size:13px;margin:5px 0;display:inline-block;}
    .checkbox-label input {margin-right:5px;}
    .checkbox-label span {vertical-align:top;}

/* FONTS */

.a {cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.a, a {color:#38c;text-decoration:none;}
.a:hover, a:hover {text-decoration:underline;}

body, button, select, textarea, input {font-family:Arial, sans-serif;font-size:14px;}

h1 {font-size:22px;line-height:25px;font-family:Georgia, serif;}
h2 {font-size:20px;line-height:20px;font-family:Georgia, serif;}
h3 {font-size:18px;line-height:20px;font-family:Georgia, serif;}
h4 {font-size:15px;line-height:15px;font-family:Georgia, serif;}

.list-title {margin:20px 0;}

/* FORMS */

.form {}
    .form-field {margin:0 0 10px;display:block;}
        .form-label {line-height:20px;font-weight:bold;text-transform:uppercase;font-size:11px;color:#999;display:block;}
        .form-label.required {color:#000;}
        .form-radio-label {font-size:13px;margin:5px 5px 5px 0;display:inline-block;}
        .form-image {max-width:100%;margin-bottom:10px;}
    .form-button {margin-top:10px;}


select.control {background:#fff;border:1px solid #ddd;color:#666;height:35px;font-size:13px;width:100%;}
input.control  {background:#fff;border:1px solid #ddd;color:#666;height:35px;font-size:13px;width:100%;border-radius:2px;padding:0 5px;}
input.control:focus, select.control:focus {border-color:#38c;box-shadow:0 0 3px rgba(51,136,204,0.5);}

select.control.medium {height:30px;width:auto;}

/* BUTTONS */

.button {transition:none;cursor:pointer;background:#38c;color:#fff;height:30px;padding:0 15px;line-height:30px;border:0;border-radius:2px;font-size:13px;cursor:pointer;position:relative;}
.button.big {line-height:35px;height:35px;font-size:15px;}
.button:hover {box-shadow:inset 0 50px 0 rgba(0,0,0,0.1);}
.button:active {box-shadow:inset 0 50px 0 rgba(0,0,0,0.2);}

.button.sending {padding-top:30px;overflow:hidden;}
.button.sending.big {padding-top:35px;}
.button.sending .spinner {display:block;}

/* ALERTS */

.alerts {position:fixed;top:60px;left:0;width:100%;height:0;text-align:center;z-index:2;}

    .alert {text-align:left;display:table;border:1px solid rgba(0,0,0,0.1);background:#fff;border-radius:2px;width:100%;min-height:40px;margin:20px auto 10px;}
    .alerts .alert {margin-top:0;margin-bottom:5px;width:auto;min-width:320px;max-width:600px;}
    .alerts .alert:last-child {margin-bottom:0;}

    .alert.template {display:none;}

    .alert.success {background:#f4fff5;color:#72a276;}
    .alert.info    {background:#f4f5ff;color:#7280a2;}
    .alert.warning {background:#fffef4;color:#a29b72;}
    .alert.error   {background:#fff4f4;color:#a27272;}

        .alert-icon  {display:table-cell;vertical-align:middle;width:40px;text-align:center;font-size:13px;}
        .alert-text  {display:table-cell;vertical-align:middle;line-height:15px;padding:5px 0;font-size:13px;}
        .alert-close {display:table-cell;vertical-align:middle;width:40px;text-align:center;font-size:13px;border-left:1px solid transparent;color:rgba(0,0,0,0.3);}
        .alert-close:hover {text-decoration:none;border-left-color:rgba(0,0,0,0.1);color:rgba(0,0,0,0.5);}

/* DROPDOWN */

[data-dropdown] {position:relative;}
    .dropdown-window {background:#fff;display:none;position:absolute;top:100%;left:0;max-width:320px;box-shadow:0 0 3px rgba(0,0,0,0.1);min-width:100%;border:1px solid #ddd;}
    .dropdown-window.right {left:auto;right:0;}

/* POPUP */

body.popup-opened {overflow-y:hidden;}
.popup-wrapper {position:fixed;padding:70px 0 20px;top:0;left:0;right:0;bottom:0;z-index:4;background:rgba(0,0,0,0.5);overflow-y:scroll;display:none;}
    .popup {background:#fff;border-radius:2px;box-shadow:0 0 20px rgba(0,0,0,0.5);}
    .popup-header {display:table;min-width:50px;border-bottom:1px solid #eee;width:100%;}
        .popup-title {display:table-cell;line-height:20px;padding:15px;font-size:18px;}
        .popup-close {display:table-cell;width:50px;line-height:50px;text-align:center;color:#999;border-radius:0 2px 0 0;}
        .popup-close:hover {background:#fafafa;color:#000;text-decoration:none;}
    .popup-content {padding:15px;}
    .popup-content.no-padding {padding:0;}
        .popup-mini-title {margin-bottom:15px;font-size:16px;line-height:20px;}
        .popup-controls .control {margin-bottom:15px;}
        .popup-controls .control:last-child {margin-bottom:0;}
    .popup-footer {border-top:1px solid #eee;padding:15px;}

/* HEADER */

.header {background:#fff;box-shadow:0 0 3px rgba(0,0,0,0.25);position:fixed;top:0;width:100%;z-index:4;}
    .header-table {display:table;width:100%;}
        .header-table > * {display:table-cell;width:1px;white-space:nowrap;}

            .header-menu-wrapper {width:30px !important;}
            .header-menu {text-align:left;padding:10px 0;}
                .header-menu-item {color:#666;line-height:25px;padding:5px 15px;display:block;white-space:nowrap;}
                .header-menu-item.grey {color:#999;padding-top:10px;padding-bottom:0;margin-top:10px;border-top:1px solid #eee;}
                .header-menu-item.active {color:#38c;}
                .header-menu-item:hover {background:#f1f1f1;text-decoration:none;}
                .header-menu-item.grey:hover {background:#fff;text-decoration:none;}

            .logo {text-transform:uppercase;padding-left:10px;line-height:50px;width:170px;color:#333;font-size:18px;text-decoration:none;font-family:Georgia, serif;font-weight:bold;}
            @media (max-width:760px) {.logo {font-size:16px;}}
                .logo a {color:#000;}
                .logo:hover a {text-decoration:none;}

        .search {padding:10px 10px 10px 0;position:relative;width:auto;}
        @media (max-width:760px) {.search {padding:5px 5px 5px 0;}}
        @media (max-width:760px) {.search > * {display:none;}}
            .search-input-wrapper {margin-right:59px;}
            @media (max-width:760px) {.search-input-wrapper {margin-right:29px;}}
                .search-input {border:1px solid #ddd;height:30px;width:100%;border-radius:2px 0 0 2px;padding:0 10px 0 10px;box-shadow:inset 1px 1px 1px #eee;position:relative;z-index:1;}
                .search-input:focus {border-color:#38c;}

                .search-input::-webkit-input-placeholder {color:#aaa;}
                .search-input::-moz-placeholder          {color:#aaa;}
                .search-input:-ms-input-placeholder      {color:#aaa;}
                .search-input:-moz-placeholder           {color:#aaa;}

                .search-input:focus::-webkit-input-placeholder {color:#ccc;}
                .search-input:focus::-moz-placeholder          {color:#ccc;}
                .search-input:focus:-ms-input-placeholder      {color:#ccc;}
                .search-input:focus:-moz-placeholder           {color:#ccc;}

                .search-button {background:#fafafa;color:#666;height:30px;width:60px;border:1px solid #ddd;border-radius:0 2px 2px 0;position:absolute;top:10px;right:10px;cursor:pointer;}
                @media (max-width:760px) {.search-button {width:30px;top:5px;right:5px;}}
                .search-button:hover {background:#f6f6f6;color:#333;}
                .search-button:active {background:#f1f1f1;}

            .search button {}

        .header-item {padding:0 15px;line-height:50px;color:#777;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
        @media (max-width:760px) {.header-item {padding:0 10px;}}
        .header-item:hover  {background:#f1f1f1;color:#666;text-decoration:none;}
        .header-item:active {background:#f1f1f1;}
        .header-item.active {background:#f1f1f1;color:#666;}

        .header-item .fa {vertical-align:middle;}

        .header-item-button {padding:10px 0 10px 10px;}
        /*@media (max-width:760px) {.header-item-button {padding:5px 0 5px 5px;}}*/

        .header-item-icon {padding:0;text-align:center;width:50px;color:#bbb;font-size:21px;}
        @media (max-width:760px) {.header-item-icon {width:40px;}}
            .header-item-image {max-width:30px;max-height:30px;margin-top:10px;border-radius:100%;}
            @media (max-width:760px) {.header-item-image {margin-top:5px;}}
            .header-item-counter {position:absolute;top:5px;right:5px;color:#fff;background:#38c;border-radius:100%;font-size:11px;width:20px;line-height:20px;text-align:center;font-weight:bold;font-family:Arial, sans-serif;}
            @media (max-width:760px) {.header-item-counter {width:15px;line-height:15px;font-size:10px;}}

        .header-item .fa-sign-in {margin-right:5px;width:12px;}

        .header-item-button .button {}
        @media (max-width:760px) {.header-item-button .button {padding:0;width:30px;border-radius:100%;font-size:21px;text-align:center;}}

        .ask-question-text {}
        @media (max-width:760px) {.ask-question-text {display:none;}}
        .ask-question-icon {display:none;line-height:30px;}
        @media (max-width:760px) {.ask-question-icon {display:inline-block;}}

/* LAYOUT */

.container {display:table;width:100%;}
@media (max-width:760px) {.container {display:block;}}
    .column-left {display:table-cell;width:200px;}
    @media (max-width:760px) {.column-left {display:none;width:auto;}}
    .content {display:table-cell;}
    @media (max-width:760px) {.content {display:block;}}
        .document {padding:15px;background:#fff;border:1px solid #eee;border-radius:2px;}
        .document-form {margin-top:20px;}
            .document-title {margin:0 0 20px;}
    .column-right {display:table-cell;width:200px;padding-bottom:55px;}
    @media (max-width:760px) {.column-right {display:block;width:auto;padding:0;}}

/* COLUMN MENU */

.column-menu {margin:20px 20px 20px 0;z-index:1;transition:none;width:180px;}
    .column-menu-item {line-height:15px;padding:5px 0 5px 5px;display:block;font-size:13px;color:#777;text-decoration:none;border-radius:2px;}
    .column-menu-item:hover {background:#ececec;text-decoration:none;}
    .column-menu-item.active {color:#38c;}

/* COLUMN BLOCKS */

.column-block {margin:20px 0 20px 20px;z-index:1;transition:none;width:180px;}

    .column-block-title {margin-bottom:15px;line-height:15px;}
    .column-block-user {margin:15px 0;}
    .column-block-info {background:#fff;border:1px dashed #ddd;padding:10px;line-height:20px;}

    .best-users {border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
    .best-view-all       {text-decoration:none;line-height:15px;margin:15px 0;}
    .best-view-all:hover {text-decoration:underline;}

    .similar-questions {border-top:1px solid #ddd;}
        .similar-question {margin-top:15px;}
            .similar-question a {line-height:16px;display:inline;}

/* NOTIFICATIONS */

.notifications {background:#fff;}
.notifications.dropdown-window {width:320px;}
    .notifications-item {color:#000;line-height:17px;padding:10px;display:block;white-space:normal;border-bottom:1px solid #eee;font-size:13px;}
    .notifications-item:last-child {border-bottom:0;}
        .notifications-item a {color:#000;font-weight:bold;display:inline;}
    .notifications-all {line-height:20px;margin:10px;}

    .notification-bonus {min-width:22px;font-weight:bold;font-size:13px;text-align:center;margin-right:5px;}
    .notification-bonus-plus  {color:#3b2;}
    .notification-bonus-minus {color:#b22;}

    .notifications-list .notifications-item {border:1px solid #eee;border-bottom:0;}
    .notifications-list .notifications-item:last-child {border-bottom:1px solid #eee;}

/* USER BLOCK */

.users {margin:20px 0;}
    .users .item {margin:10px 0;}
    .users .item .user-avatar {width:50px;height:50px;}

.user {display:table;}
    .user-avatar {width:35px;height:35px;display:table-cell;}
        .user-avatar img {max-width:100%;max-height:100%;border-radius:100%;}
    .user-info {display:table-cell;padding-left:10px;vertical-align:middle;}
        .user-name   {line-height:20px;font-size:15px;text-decoration:none;color:#000;display:block;}
        .user-rating {color:#999;font-size:12px;line-height:15px;}
        .column-block-user .user-name {white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:130px;}

        .user-name:hover {text-decoration:underline;}
        .user-name-ellipsis {white-space:nowrap;text-overflow:ellipsis;width:130px;overflow:hidden;}

.user-detail {display:inline-block;text-align:left;margin-bottom:20px;}
    .user-detail-avatar {display:table-cell;width:90px;height:90px;}
        .user-detail-avatar img {max-width:100%;max-height:100%;border-radius:100%;}
    .user-detail-info {display:table-cell;padding-left:20px;vertical-align:middle;}
        .user-detail-name {margin-bottom:5px;}
        .user-detail-rating {color:#999;font-size:14px;line-height:20px;}

/* USER DETAIL */

.user-detail-header {margin:30px 0 20px;text-align:center;}
.user-detail-questions {margin:0 auto;}

/* GO TOP */

.go-top {padding:0 0 0 15px;font-size:13px;line-height:35px;color:#666;background:#ececec;border-radius:2px;position:fixed;bottom:0;margin:20px 0 20px 20px;width:180px;display:none;}
@media (max-width:760px) {.go-top {font-size:0;right:15px;bottom:15px;width:auto;padding:0;border-radius:100%;margin:0;}}
.go-top:hover {background:#ddd;text-decoration:none;}
.go-top:active {background:#ccc;}
    .go-top .fa {line-height:33px;width:35px;text-align:center;font-size:20px;color:#000;float:right;}

/* SEO */

.title {margin-bottom:5px;}

.description {margin-bottom:20px;line-height:20px;color:#777;position:relative;}
.description.default {height:20px;overflow:hidden;}

    .description.default   .description-text {position:absolute;top:0;left:0;}
    .description.collapsed .description-text {white-space:nowrap;right:41px;overflow:hidden;text-overflow:ellipsis;}

    .description-hide {display:none;}
    .description-show {width:41px;display:none;float:right;}

/* POST FORM */

.post {border-radius:2px;border:1px solid #eee;background:#fff;margin:20px 0 20px;}
@media (max-width:760px) {.post {margin:10px 0;}}
.post-answer {margin-left:40px;}
.popup .post {background:none;border:0;margin:0;}
    .post-content {display:table;width:100%;}
        .post-avatar {display:table-cell;width:60px;padding:15px;}
            .post-avatar-link {}
                .post-avatar-link img {width:30px;height:30px;border-radius:100%;}
        .post-textarea-wrapper {display:table-cell;}

            .post-textarea {padding:20px 15px 20px 0;line-height:20px;width:100%;border:0;resize:none;font-size:16px;font-family:Georgia, serif;}

            .post-textarea::-webkit-input-placeholder {color:#aaa;}
            .post-textarea::-moz-placeholder          {color:#aaa;}
            .post-textarea:-ms-input-placeholder      {color:#aaa;}
            .post-textarea:-moz-placeholder           {color:#aaa;}

            .post.focused .post-textarea::-webkit-input-placeholder {color:#ccc;}
            .post.focused .post-textarea::-moz-placeholder          {color:#ccc;}
            .post.focused .post-textarea:-ms-input-placeholder      {color:#ccc;}
            .post.focused .post-textarea:-moz-placeholder           {color:#ccc;}

            .post.opened .post-textarea {min-height:80px;}

    .post-footer {padding:15px;border-top:1px solid #eee;text-align:right;display:none;}
    .post-answer .post-footer {text-align:left;}
    .popup .post .post-footer {display:block;}
        .post-column-menu-item {float:left;}

    .post.opened .post-footer {display:block;}

/* SOCIAL AUTH */

.social-auth {margin:15px;}
    .social-auth-item {width:190px;height:40px;margin-right:10px;background:#f1f1f6;}
    .social-auth-item:last-child {margin-right:0;}

/* BREADCRUMBS */

.breadcrumbs {margin:20px 0 15px 0;line-height:15px;}
.breadcrumbs-question {margin-left:40px;}
    .breadcrumbs .fa {font-size:10px;vertical-align:baseline;margin:0 5px;width:8px;text-align:center;color:#999;}
    .breadcrumbs span {color:#777;}

/* USER ACTIONS */

.user-actions {float:right;}
    .user-action {font-size:18px;width:35px;line-height:35px;text-align:center;color:#bbb;border-radius:2px;}
    .user-action:hover {background:#f1f1f1;text-decoration:none;}
    .user-action.fa-check {font-size:25px;}
    .user-action.right-answer {color:#3b2;}

/* TABS */

.tabs {font-size:13px;text-transform:uppercase;font-weight:bold;}
    .tabs-tab {color:#999;line-height:35px;position:relative;border-bottom:3px solid transparent;padding:3px 15px 0;}
    .tabs-tab:hover  {color:#000;text-decoration:none;}
    .tabs-tab:active {}
    .tabs-tab.active {border-bottom-color:#38c;color:#38c;}

/* RATING */

.rating {display:table-cell;width:30px;text-align:center;padding-right:15px;}
.question-detail .rating {padding-right:10px;padding-top:5px;}

    .rating-up {border-left:15px solid transparent;border-right:15px solid transparent;border-bottom:15px solid #ccc;position:relative;cursor:pointer;}

    .rating-up:hover  {border-bottom-color:#bbb;}
    .rating-up:active {border-bottom-color:#aaa;}
    .rating-up.active {border-bottom-color:#38c;}

    .rating-count {line-height:37px;text-align:center;font-size:16px;}

    .rating-down {border-left:15px solid transparent;border-right:15px solid transparent;border-top:15px solid #ccc;position:relative;cursor:pointer;}

    .rating-down:hover  {border-top-color:#bbb;}
    .rating-down:active {border-top-color:#aaa;}
    .rating-down.active {border-top-color:#38c;}

/* QUESTION IN LIST */

.question {display:table;margin:10px 0;}
    .question-content {display:table-cell;}
        .question-name {display:inline;line-height:20px;font-size:18px;text-decoration:none;color:#000;font-family:Georgia, serif;font-weight:bold;}
        .question-name:hover {text-decoration:underline;}
        .question-info {line-height:17px;font-size:13px;color:#aaa;margin:5px 0;}
        .question-detail .question-info {line-height:15px;font-size:14px;margin:5px 0 0;}
        .question-tag  {text-decoration:none;color:#888;}
        .question-tag:hover {text-decoration:underline;}
        .question-answer {line-height:20px;font-size:14px;text-decoration:none;}
        .question-answer:hover {text-decoration:underline;}

/* SEARCH RESULTS */

.search-results-counter {margin:-15px 0 20px;color:#888;}

/* QUESTION DETAIL */

.question-detail {display:table;width:100%;}
    .question-detail > * {display:table-cell;}
        .question-detail .user-actions {float:right;margin:-5px -5px 0 5px;}

.question-footer {margin:20px 0 0 40px;}
    .question-footer .user {float:right;}

/* ANSWERS */

.answers-title {padding:15px 0 0;margin:20px 0 0 40px;border-top:1px solid #eee;color:#888;}

.answers {}
    .answer {margin:15px 0;display:table;width:100%;}
        .answer > * {display:table-cell;}
        .answer .rating {padding-top:15px;}
            .answer-content {margin-top:10px;font-family:Georgia, sans-serif;font-size:16px;line-height:20px;}

/* QUESTION WITH ANSWER (Кусочек говнокода) */

.questions-with-answers {margin:0 auto;}
.question-with-answer {margin-bottom:20px;}
.question-with-answer .question {margin:0;}
.question-with-answer .answer {margin:-1px 0 0;}
.question-with-answer .answer .rating {padding-left:16px;padding-right:15px;}
.question-with-answer .answer .item {border-radius:0 0 2px 2px;}
.question-with-answer .answer .fa-check {display:none;}

/* PAGINATION */

.pagination {margin:20px 0 20px;font-size:12px;}
    .pagination > * {width:35px;color:#555;height:35px;line-height:35px;text-align:center;border:1px solid #ddd;background:#fff;border-right:0;}
    .pagination > a:hover {background:#f1f1f1;color:#333;text-decoration:none;}
    .pagination > a:active {background:#eee;color:#333;text-decoration:none;}
    .pagination > a.active {background:#eee;color:#000;text-decoration:none;}
    .pagination > *:first-child {border-radius:2px 0 0 2px;}
    .pagination > *:last-child {border-radius:0 2px 2px 0;border-right:1px solid #ddd;}

/* SPINNER - Этот блок пусть будет всегда в конце CSS-файла */

.spinner {text-align:center;margin:30px 0;line-height:15px;display:block;}

    .spinner:before, .spinner:after {content:'';}

    .spinner:before, .spinner:after, .spinner i {
        width:15px;
        height:15px;
        margin:0 5px;
        background-color:#ccc;
        border-radius:100%;
        display:inline-block;
        vertical-align:top;
        -webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;
        animation:sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .button .spinner {margin:7px 0;line-height:15px;position:absolute;left:0;right:0;top:0;display:none;}

    .button .spinner:before, .button .spinner:after, .button .spinner i {
        background-color:rgba(255,255,255,0.5);
    }

    .spinner:before {-webkit-animation-delay:-0.32s;animation-delay:-0.32s;}
    .spinner i {-webkit-animation-delay:-0.16s;animation-delay:-0.16s;}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {-webkit-transform:scale(0)}
    40% {-webkit-transform:scale(1.0)}
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform:scale(0);
        transform:scale(0);
    } 40% {
        -webkit-transform:scale(1.0);
        transform:scale(1.0);
    }
}