{% for i in objects %}
    <span class="notifications-item"><a href="#">Анна Иванова</a> ответила на ваш вопрос <a href="#">Как пишется "жи" и "ши"?</a></span>
    <span class="notifications-item"><span class="notification-bonus notification-bonus-plus">+1</span><a href="#">Анна Иванова</a> проголосовала за ваш вопрос <a href="#">Как пишется "жи" и "ши"?</a></span>
    <span class="notifications-item"><span class="notification-bonus notification-bonus-minus">-1</span><a href="#">Анна Иванова</a> проголосовала против вашего вопроса <a href="#">Как пишется "жи" и "ши"?</a></span>
    <span class="notifications-item"><span class="notification-bonus notification-bonus-plus">+1</span><a href="#">Анна Иванова</a> проголосовала за ваш ответ на вопрос <a href="#">Как пишется "жи" и "ши"?</a></span>
    <span class="notifications-item"><span class="notification-bonus notification-bonus-minus">-1</span><a href="#">Анна Иванова</a> проголосовала против вашего ответа на вопроса <a href="#">Как пишется "жи" и "ши"?</a></span>
    <span class="notifications-item"><span class="notification-bonus notification-bonus-plus">+10</span><a href="#">Иван Петров</a> выбрал лучшим ваш ответ на вопрос <a href="#">Как пишется "жи" и "ши"?</a></span>
{% endfor %}