<div class="question item">

    {% include 'blocks/rating.html' with rating_up='Мне тоже интересно узнать' rating_down='Некорректный вопрос' %}

    <div class="question-content">

        {% include 'blocks/user_actions.html' %}

        <h3><a href="{% url 'question' %}" class="question-name">Как пишется "жи" и "ши"?</a></h3>
        <div class="question-info">5 минут назад · <a href="{% url 'home' %}" class="question-tag">Русский язык</a></div>
        <a href="{% url 'question' %}" class="question-answer">{% if i == '0' %}Ответить{% else %}{{ i }} ответов{% endif %}</a>
    </div>

</div>