{% extends 'base.html' %}

{% block left %}{% endblock %}

{% block content %}
    <div class="content">

        <div class="document document-form wrapper small">

            <h1 class="document-title">Сменить пароль</h1>

            <form method="POST" action=".">

                <label class="form-field">
                    <span class="form-label required">Текущий пароль</span>
                    <input class="control" type="password">
                </label>
                <label class="form-field">
                    <span class="form-label required">Новый пароль</span>
                    <input class="control" type="password">
                </label>
                <label class="form-field">
                    <span class="form-label required">Новый пароль ещё раз</span>
                    <input class="control" type="password">
                </label>
                <button class="form-button button big">Сменить пароль</button>
            </form>

        </div>
    </div>
{% endblock %}

{% block right %}{% endblock %}